version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
      time: "14:00"
      timezone: Europe/Berlin
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
      time: "14:00"
      timezone: Europe/Berlin
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "14:00"
      timezone: Europe/Berlin
